<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdminAttVerifyModeKey" value="1000"/>
    <add key="deviceIP" value="192.168.10.200"/>
    <add key="devicePort" value="4370"/>
    <add key="deviceCommPassword" value="0"/>
    <add key="deviceNo" value="1"/>
    <add key="ZKAttendanceInOutMode" value="1"/>
    <add key="ZKAlwaysSetFirstEntryAsCheckIn" value="1"/>
    <add key="defaulConnection" value="INVACC.Properties.Settings.dbINVACCConnectionString"/>
    <add key ="user" value ="userinvacc"/>
    <add key ="password" value ="invacc.12.p"/>
    <add key="Server" value="192.168.18.50"/>
    <add key="Database" value="dbInvAcc"/>
    <add key="ItemListInterval" value="2000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SecurityKey" value=""/>
    <add key="ShowSoftwareCompanyDetail" value="true"/>
    <add key="DSTBID" value="8"/>
    <add key="CustomerPaymentAlertDays" value="8"/>
    <add key="ShowCustomerPaymentAlertDays" value="true"/>
    <add key="SaleInvTax" value=""/>
    <add key="Lunch" value="85"/>
  </appSettings>
  <connectionStrings>
     <add name="INVACCdbConnectionString" connectionString="Data Source=192.168.18.50;Initial Catalog=dbInvAcc;User ID=userinvacc;Password=invacc.12.p"  providerName="System.Data.SqlClient"  />
     <add name="dbOnlineInvAcc"           connectionString="Data Source=192.168.18.50;Initial Catalog=dbInvAcc;User ID=userinvacc;Password=invacc.12.p"  providerName="System.Data.SqlClient"/>
     <add name="LocaldbConStrForItems"    connectionString="Data Source=192.168.18.50;Initial Catalog=dbInvAcc;User ID=userinvacc;Password=invacc.12.p"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime appRequestQueueLimit="100" executionTimeout="100000" />
  </system.web>
  <!--<system.windows.forms jitDebugging="true" />-->
  <!--<system.data>
    <DbProviderFactories>
      <add name="SQL Data Provider" invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=6.0.3.0,Culture=neutral,PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>